# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
ENV/

# Django
db.sqlite3
*.log
local_settings.py

# Environments
.env
.env.local
.env.*

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
